body {
    font-family: Arial, fantasy;
    background-color: #d3d3d3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgb(253, 246, 246);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    border-top: 5px solid #fb0339; /* Vermelho do São Paulo FC */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000bc; /* Preto do São Paulo FC */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #00000082; /* Preto do São Paulo FC */
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #bebbbb;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #dad1d1; /* Fundo cinza claro */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c7052f; /* Vermelho do São Paulo FC */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a4022a; /* Tom mais escuro de vermelho */
}

footer {
    background-color: #000000; /* Preto do São Paulo FC */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
